.principal {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;
}

.principal button {
    width: 50px;
    height: 50px;
    margin-left: 40px;
    border-radius: 10px;
    color: #fff;
    background-color: #621aaf;
    cursor: pointer;
}

.principal button:hover {
    background-color: #350866;
    transition: 500ms ;
}

.cards {
    background-image: url(../../images/char.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cards img {
    width: 200px;
}

.cards h1 {
    color: white;
    font-size: 50px;
}

.main {
    display: grid;
    width: calc(100% - 5rem);
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-column-gap: 40px;
    margin-left: 40px;
}

.personagem {
    margin: 30px;
    background-color: #edc0ba;
    width: 300px;
    border-radius: 20px;
}

.personagem h2 {
    text-align: center;
    margin-top: 20px;
}

.personagem li {
    margin: 10px;
}