.cards {
    background-image: url(../../images/char.jpg);
    background-size: cover;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.cards img {
    width: 200px;
}

.cards h1 {
    color: white;
    font-size: 50px;
}

.card {
    margin: 30px;
    background-color: #edc0ba;
    width: 300px;
    border-radius: 20px;
}

.card h2 {
    text-align: center;
    margin-top: 20px;
}

.card li {
    margin: 10px;
}