* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    border-style: none;
    text-decoration: none;
}

h1 {
    margin-top: 100px;
}

img {
    width: 50vw;
    display: flex;
    margin: 50px auto;
}

button{
    background-color: red;
    color: #f8f8f8;
    width: 200px;
    height: 50px;
    margin: 2rem;
    border-radius: 10px;
}

button a {
    color: white;
}

.buttons {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 900px) {
    .buttons {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    img {
        width: 100vw;
    }

    
}
